:root {
  --blue1: #3498db; /* A shade of blue resembling the sky */
  --blue2: #490dee; /* Another shade of blue */
  --yellow: #ffcc00; /* Yellow color for sun or warmth */
  --white: #ffffff; /* White for text and backgrounds */
  --shadowblack: #000000; /* Black for shadows */
  --shadowwhite: #ffffff; /* White for light shadows */
  --grey: #888888; /* Grey for subtle accents */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: var(--blue2);
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  height: 80vh;
  background-color: var(--blue1);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadowblack);
}
